## **Segmenting and Clustering Neighborhoods in Toronto**

In [2]:
import pandas as pd
import numpy as np
import requests

In [ ]:
wiki_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

Use pandas to get the tables from the site

In [28]:
web_table = pd.read_html(wiki_url, header=0)

Takes the table in index 0

In [41]:
df = pd.DataFrame(web_table[0])
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Remove Borough values with "Not assigned" values

In [66]:
can_data = df[df['Borough']!='Not assigned']
print(can_data.head())
print(can_data.shape)
can_data = can_data.reset_index()
can_data = can_data.drop('index', axis=1)
can_data.head(5)

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
(103, 3)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [70]:
print(len(can_data))
print(can_data['Postal Code'].unique)

103
<bound method Series.unique of 0      M3A
1      M4A
2      M5A
3      M6A
4      M7A
      ...
98     M8X
99     M4Y
100    M7Y
101    M8Y
102    M8Z
Name: Postal Code, Length: 103, dtype: object>

Confirming the data is in the correct format. M5A postal cost is listed once and includes the 2 neighborhoods

In [73]:
print(can_data.query("`Postal Code` == 'M5A'"))

  Postal Code           Borough              Neighbourhood
2         M5A  Downtown Toronto  Regent Park, Harbourfront

In [71]:
final_cd.shape

(103, 3)